@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Alata';
    src: url(https://fonts.gstatic.com/s/alata/v10/PbytFmztEwbIoce9zqY.woff2) format('woff2');
}

@font-face {
    font-family: 'Work Sans';
    src: url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
  }

.body {
    height: 100%;
    width: 100%; 
}

.homePage {
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-end;
}

.profilePictureContainer {
    /* background-color: yellow; */
    width: 40%;
    height: 785px;
    display: flex;
    justify-content: flex-end;
}

.myProfilePicture {
    height: 83%; 
    width: 100%;
}

.profileDetailsContainer {
    /* background-color: blue; */
    height: 785px;
    width: 72%;
    display: flex;
    justify-content: flex-end;
}

.detailsContainer {
    /* background-color: aquamarine; */
    height: 83%;
    width: 100%; 
    display: flex;
    justify-content: flex-end;
    position: relative; 
}

.grayBox {
    background-color: #F4F4F4;
    height: 100%;
    width: 67%;
}

.webPageSectionContainer {
    /* background-color: yellowgreen; */
    height: 10%;
    width: 65%; 
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 2;
}

.webPageSection {
    /* background-color: antiquewhite; */
    height: 50%;
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.webSectionText { 
    font-family: 'Alata';
    font-style: normal;
    font-size: 20px;
    font-display: swap;
    color: #7D7C7C;
    margin-right: 9%;
    margin-left: 6%;
}

.introductoryContainer {
    background-color: aquamarine;
    height: 50%;
    width: 65%; 
    /* align-items: center; */
    position: absolute;
    top: 18%;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
}

.introductory {
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.hiContainer {
    background-color: yellow;
    align-items: center;
    height: 50%;
}

.hiText {
    font-family: 'Work Sans';
    font-size: 200px;
    color: #898989;
}

.myNameContainer {
    background-color: brown;
    display: flex;
    flex-direction: column;
}
