@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alata&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Work Sans';
    src: url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
}


.body {
    height: 100%;
    width: 100%;
}

.portfolioPage {
    height: 785px;
    width: 100%;
}

.headerContainer {
    width: 100%; 
    height: 15%; 
    display: flex;
    align-items: center;
}

.headerText {
    font-family: 'Work Sans';
    font-size: 70px; 
    font-weight: 550;
    color: #898989;
    margin-left: 4%;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    height: 75%;
    width: 100%; 
}

.arrowContainer {
    height: 100%; 
    width: 10%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowIcon {
    color: #FFE4E4;
    transition: transform 0.5s ease, color 0.5s ease;
    cursor: pointer;
}

.arrowIcon:hover {
    transform: translateX(10px) scale(1.2);
    color: #FFD1D1;
}

.demoVideoContainer {
    background-color: aquamarine;
    height: 100%; 
    width: 40%; 
}

.projectDetailsContainer {
    background-color: blueviolet;
    height: 100%; 
    width: 40%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectTitleContainer {
    background-color: yellow;
    width: 100%; 
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectInfoContainer {
    background-color: violet;
    width: 100%; 
    height: 50%; 
}

.techToolsContainer {
    background-color: yellowgreen;
    width: 100%;
    height: 20%;
}

.projRoleContainer {
    background-color: tomato;
    width: 100%;
    height: 10%; 
}